**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan.binary
crash.log
crash.*.log
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json


secrets.tfvars

backups/*.sql
!backups/.gitkeep

.DS_Store
*.swp
